#############
## Eclipse ##
#############

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

###############
## WindRiver ##
###############

# Ignore object files
*.[oa]

# Ignore any project files
.cproject
.wrmakefile
.wrproject

# Ignore any output files
PPC603gnu/

#############
## Windows ##
#############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini