#############
## Eclipse ##
#############

*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific

# PDT-specific
.buildpath
.cproject
.project

##########
## UCPP ##
##########

.ucpp
Makefile


###############
## WindRiver ##
###############

# Ignore object files
*.[oa]

# Ignore any project files
.wrmakefile
.wrproject

# Ignore any output files
PPC603gnu/

#############
## Windows ##
#############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

###############
## Mac Stuff ##
###############

# I don't even know
.DS_Store

################
## Text files ##
################

sample.txt
